@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Abhaya Libre", serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lilita One", cursive;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-600 {
  max-width: 600px;
}

.max-width-700 {
  max-width: 700px;
}

.max-width-800 {
  max-width: 800px;
}

.max-width-900 {
  max-width: 900px;
}

.button-primary {
  background-color: rgb(218, 5, 5);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 4px;
}
.button-primary:hover {
  filter: brightness(1.2);
}
.button-secondary {
  background-color: rgb(7, 7, 90);
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 900;
  border: none;
  border-radius: 4px;
}
.button-secondary:hover {
  filter: brightness(1.2);
}

.wa-button {
  position: fixed;
  display: flex;
  width: 100%;
  height: auto;
  bottom: 15px;
  right: 15px;
  max-width: 40px;
  z-index: 999;
  padding: 9px;
  background: green;
  fill: white;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: scale(0);
  animation: appear 0.3s 1.5s forwards;
  transition: 0.3s;
}
.wa-button:hover {
  filter: brightness(1.2);
  transition: 0.3s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.cv {
  border: 1px solid rgb(218, 5, 5);
}
.cv label {
  width: 100%;
}
.cv input {
  width: 100%;
}
.cv select {
  width: 100%;
}

input {
  width: 30%;
}

.forim {
  display: flex;
}

.consultas {
  display: flex;
  justify-content: start;
}

#categories {
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  margin: auto;
}

.category {
  position: relative;
  height: 250px;
  max-width: 550px;
}
.category .category-title {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  color: #ffffff;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}
.category .category-title:hover {
  background: rgba(0, 0, 0, 0);
  transition: 0.2s;
}
.category img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.icon-inline {
  display: inline-block;
  font-size: inherit;
  height: 50px;
  overflow: visible;
  vertical-align: -0.125em;
}

.payment-methods-information {
  background-color: rgb(142, 247, 255);
}

span.carousel-control-prev-icon, span.carousel-control-next-icon {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.18);
  background-size: 57%;
}

.himalaya {
  /* width: 600px; */
  border: solid blue;
}

.whatsapp {
  width: 25px;
  height: 25px;
}

.navbar-logo-img {
  width: 100%;
  height: auto;
  max-width: 70px;
}

.padding-for-fixed-navbar {
  padding-top: 86px;
}

#scroll-cards .card {
  border: 0;
  border-radius: 0;
}
#scroll-cards .card-img, #scroll-cards .card-img-top {
  border: 0;
  border-radius: 0;
}

.card img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.card-title {
  font-size: 18px;
}

footer {
  height: 10%;
  /* background-color: rgb(5, 5, 5); */
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 13px;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .navbar-logo-img {
    max-width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
