.icon-inline {
    display: inline-block;
    font-size: inherit;
    height: 50px;
    overflow: visible;
    vertical-align: -0.125em;
}

.payment-methods-information{
    background-color: rgb(142, 247, 255);
}